html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fefbf7;
}

#headerImageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#headerImageDiv img {
    max-width: 100%;
    height: 27vh;
    object-fit: cover;
}

#title{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(74, 179, 162);
    font-kerning: none;
    text-decoration: none;
    font-size: 30px;
}

#titleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    background-color: #fefbf7;
}

.navbar {
    background-color: rgba(62,52,81,255);
    border-radius: 30px;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
}

.nav-item .nav-link {
    transition: transform 0.3s ease, text-decoration 0.3s ease; 
    display: inline-block; 
}

.nav-item:hover .nav-link {
    transform: scale(1.1); 
}


